.fixed-bottom a,
.form ul li label a,
.lessons a,
.policy a,
body,
header {
  color: #fff;
}
*,
.mainMenu li:nth-last-child(-n + 1) {
  padding: 0;
}
.fixed-bottom,
.mainMenu li span a i,
.policy h2 {
  text-align: center;
}
.fixed-bottom,
.main-header {
  font-family: Thasadith, sans-serif;
}
.offer ul,
.prices-main-list {
  grid-template-columns: repeat(1, 1fr);
}
.mainMenu li a,
.navigation .logo,
.prices ul li h2,
.schedule th {
  text-transform: uppercase;
}
.form ul,
.mainMenu,
.offer ul li,
.prices-info li,
.prices-list,
.rules ul li {
  list-style: none;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #000;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #4d4d4d;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.mainMenu,
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
}
.d-none,
.form-img,
.last-video,
.mainMenu,
.ytp-title-link .yt-uix-sessionlink {
  display: none;
}
.fixed-bottom button {
  line-height: 20px;
  border-radius: 3px;
  white-space: nowrap;
  padding: 8px 18px;
  border: none;
  margin: 20px 10px 10px;
}
.mainMenu li,
th {
  padding: 10px;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 999;
  border-bottom: 1px solid #fff;
  font-family: Oswald, sans-serif;
}
.offer ul li h4,
h1 {
  font-family: "Bebas Neue", sans-serif;
}
header.subpage {
  position: relative;
}
.logo img {
  width: 60px;
}
.navigation img {
  height: 90px;
}
.mainMenu {
  height: 70%;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 1s;
}
.mainMenu li a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}
.navigation .openMenu {
  display: block;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}
.icons i,
.mainMenu .closeMenu {
  font-size: 25px;
  cursor: pointer;
}
.mainMenu .closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 3px 11px;
}
.mainMenu li:hover {
  background: 0 0;
  border-bottom: 2px solid #8b8b8b;
}
.mainMenu li:hover:nth-last-child(-n + 1) {
  border-bottom: none;
  padding: 0;
}
.icons i {
  font-size: 25px;
  cursor: pointer;
  padding: 20px;
}
.navigation .logo {
  margin: 15px;
  cursor: pointer;
  font-size: 15px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 50px 0 0;
}
.header-video {
  width: 100%;
  margin: 85px 0 40px;
}
.main-header,
.videos {
  margin: 0 auto;
  text-align: center;
}
.main-header {
  width: 80%;
}
.main-header h1 {
  padding-top: 0;
  margin-bottom: 10px;
}
.main-header p {
  margin-bottom: 60px;
  line-height: 25px;
}
h1 {
  font-size: 35px;
  letter-spacing: 3px;
  padding-top: 100px;
}
.offer,
.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer ul {
  display: grid;
  margin-bottom: 20px;
  align-items: center;
}
.offer ul li {
  text-align: center;
  margin: 20px;
  width: 300px;
}
.offer ul li img {
  border-radius: 50%;
  border: 3px solid #bbb;
  width: 90px;
  margin: 20px 0;
}
.text a,
.text-join a {
  display: block;
  border: 1px solid #fff;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
}
.offer ul li p,
iframe {
  margin: 10px;
}
.offer ul li h4 {
  font-size: 25px;
  letter-spacing: 2px;
}
.offer ul li p,
.text p,
.videos p {
  color: #b8b8b8;
  font-size: 18px;
  font-family: Thasadith, sans-serif;
}
.author,
.input-form,
.prices ul li h2,
.sch-instructor,
.schedule th,
.text a,
.text p {
  letter-spacing: 1px;
}
.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.day,
.videos div,
.videos p:nth-child(-n + 2) {
  margin-top: 20px;
}
.videos p {
  text-align: center;
  margin: 0 30px;
}
iframe {
  width: 250px;
  height: 470px;
  border: none;
}
.movies {
  margin: 20px 0;
}
.photo {
  max-width: 100%;
  height: auto;
}
.text {
  text-align: center;
  font-size: 25px;
  margin: 20px 0 60px;
}
.text p {
  text-align: center;
  margin: 30px 20px;
}
.text-join,
.text-join p {
  font-size: 25px;
  text-align: center;
}
.text a {
  color: #fff;
  margin: 0 50px;
  font-family: "Bebas Neue", sans-serif;
}
.join {
  width: 60%;
}
.input-form:hover,
.text a:hover,
.text-join a:hover {
  background-color: #fff;
  color: #000;
}
.text-join {
  margin: 60px 0;
}
.text-join p {
  margin: 10px 30px 20px;
  color: #b8b8b8;
  font-family: Thasadith, sans-serif;
}
.schedule h1,
.schedule th,
.text-join a,
th {
  font-family: "Bebas Neue", sans-serif;
}
.text-join a {
  width: 60%;
  color: #fff;
  margin: 0 auto;
}
.schedule {
  width: 85%;
  margin: 0 auto;
}
.schedule h1 {
  text-align: center;
}
.schedule table {
  width: 100%;
  border: 1px solid #8b8b8b;
}
th {
  border-bottom: 1px solid #8b8b8b;
}
.social span a i,
td {
  padding: 10px 15px;
}
.schedule th {
  text-align: left;
  font-size: 20px;
}
.schedule-info p,
.workout {
  font-family: Thasadith, sans-serif;
}
.workout {
  margin-left: 30px;
}
.sch-instructor {
  text-align: right;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}
.alert,
.author,
.form h1,
.lessons div,
.nav-footer ul li,
.prices-info li,
.prices-list,
.rules,
.social {
  text-align: center;
}
.schedule-info p {
  margin: 25px 0;
}
.hour,
.lessons h2,
.prices ul li h2,
.prices-list p {
  font-family: "Bebas Neue", sans-serif;
}
.hour {
  width: 80px;
  font-size: 20px;
}
.form,
.lessons,
.prices-info {
  font-family: Thasadith, sans-serif;
}
.prices-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form,
.prices-list {
  flex-direction: column;
}
.prices-main-list {
  display: grid;
  margin-top: 20px;
}
.prices-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #b8b8b8;
  margin: 10px 0;
  min-height: 350px;
}
.form,
.input-form {
  border: 1px solid #fff;
}
.prices-list:hover {
  box-shadow: 0 0 8px 0 #fff;
}
.prices ul li h2 {
  width: 250px;
  font-size: 27px;
}
.alert,
.form ul li label {
  font-size: 20px;
}
.prices-info {
  margin: 0 10px;
}
.prices-info li {
  margin-top: 10px;
  color: #b8b8b8;
}
.prices-list p {
  font-size: 35px;
  letter-spacing: 2px;
}
.prices-list .prices-list-text {
  color: #b8b8b8;
  text-align: center;
  font-size: 15px;
  margin: 0 20px;
}
.lessons {
  display: inline-block;
  position: relative;
  margin: 40px 0 0;
}
.gym-photo {
  max-width: 100%;
  height: 540px;
  display: block;
}
.lessons div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
.lessons h2 {
  margin-bottom: 25px;
}
.lessons p {
  font-weight: 200;
  font-size: 17px;
  color: #b8b8b8;
}
.lessons p:last-child {
  color: #fff;
  font-size: 20px;
  margin: 25px 0 0;
}
.form {
  display: flex;
  align-items: center;
  margin: 50px auto;
  width: 80%;
}
.form h1,
.input-form,
.nav-footer h3 {
  font-family: "Bebas Neue", sans-serif;
}
.form h1 {
  padding: 40px 10px 30px;
}
.form ul li {
  display: flex;
  flex-direction: column;
  margin: 20px 25px;
}
.form ul li:nth-last-child(2) {
  flex-direction: row-reverse;
  margin: 50px 25px;
}
.form ul li:nth-last-child(2) label {
  margin-left: 10px;
}
.form ul li input,
.form ul li select {
  padding: 15px;
  border: 1px solid #fff;
}
.alert {
  background-color: green;
  padding: 15px;
  font-weight: 700;
}
.input-form {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 auto;
  font-size: 25px;
  width: 100%;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 65px;
}
.footer-line {
  flex-grow: 1;
  height: 1px;
  background-color: #fff;
}
.footer-logo img {
  width: 85px;
  height: 85px;
  margin: 0 15px;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.nav-footer ul li {
  list-style: none;
  margin: 20px 0;
}
.nav-footer h3 {
  letter-spacing: 0.5px;
  margin: 5px 0;
}
.author,
.nav-footer a,
.nav-footer p,
.rules-footer {
  font-family: Thasadith, sans-serif;
}
.nav-footer a {
  text-decoration: none;
  color: #fff;
}
.policy h2,
.rules h2,
.social h2 {
  font-family: "Bebas Neue", sans-serif;
}
.social {
  margin-top: 15px;
  cursor: pointer;
}
.social h2 {
  margin: 20px 0;
}
.rules-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.rules-footer a {
  font-size: 17px;
  color: #fff;
  border: none;
}
.author {
  font-size: 10px;
  font-weight: 200;
  margin: 50px 0 10px;
}
.author a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.rules {
  display: block;
}
.policy h1,
.rules h1 {
  padding-top: 50px;
}
.policy h2,
.rules h2 {
  width: 75%;
  letter-spacing: 3px;
  padding-top: 50px;
  margin: 20px auto;
}
.policy p,
.rules ul li {
  font-size: 20px;
  font-family: Thasadith, sans-serif;
}
.rules ul li {
  width: 75%;
  margin: 15px auto;
  text-align: left;
}
.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.policy p {
  width: 85%;
  margin: 20px 10px;
}
@media (min-width: 400px) {
  .mainMenu {
    height: 60%;
  }
  .mainMenu li {
    padding: 10px;
  }
  .form {
    width: 70%;
    padding: 50px;
  }
}
@media (min-width: 700px) {
  .main-header,
  .offer h4,
  .videos p {
    font-size: 20px;
  }
  .fixed-bottom {
    flex-direction: row;
  }
  .fixed-bottom button {
    margin: 0 0 0 30px;
  }
  .logo img {
    width: 80px;
    margin: 10px 0;
  }
  .offer ul,
  .schedule-info p:last-child {
    margin-bottom: 0;
  }
  h1 {
    font-size: 40px;
    padding: 0;
  }
  .line {
    margin: 110px 0;
  }
  .navigation .mainMenu .closeMenu,
  .navigation .openMenu {
    display: none;
  }
  header {
    padding: 0 30px;
  }
  .navigation {
    margin: 0;
    padding: 0;
  }
  .navigation .mainMenu {
    display: flex;
    height: auto;
    position: relative;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
  .navigation .mainMenu li a {
    letter-spacing: 1px;
    font-size: 20px;
  }
  .fa {
    padding: 0 10px;
  }
  .offer h1,
  .text {
    padding: 0;
  }
  .header-video {
    margin-top: 105px;
  }
  .main-header {
    width: 70%;
  }
  .offer {
    width: 100%;
    margin-bottom: 30px;
  }
  .offer ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .offer ul li p {
    margin: 10px 15px;
    font-size: 17px;
  }
  .videos h1 {
    margin-bottom: 15px;
  }
  .videos_box {
    display: flex;
    flex-direction: row;
  }
  iframe {
    width: 220px;
  }
  .photo {
    margin: 50px 0;
  }
  .text {
    margin: 0;
    width: 100%;
  }
  .prices,
  .schedule,
  .text a {
    margin: 0 auto;
  }
  .text p {
    font-size: 22px;
    letter-spacing: 0;
  }
  .text a {
    width: 40%;
    font-size: 25px;
    padding: 20px 25px;
  }
  .schedule {
    width: 80%;
  }
  .hour {
    width: 140px;
  }
  .prices {
    width: 90%;
  }
  .prices-main,
  footer {
    width: 100%;
  }
  .prices-main-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .prices-list {
    margin: 0;
  }
  .prices ul li h2 {
    width: auto;
    margin: 0 15px;
  }
  .gym-photo {
    height: 350px;
  }
  .lessons {
    margin: 50px auto 0;
  }
  .lessons p {
    font-size: 18px;
  }
  .lessons p:last-child {
    margin: 25px 0 0;
  }
  .lessons div {
    padding: 10px;
  }
  .form,
  .form h1 {
    padding: 20px;
  }
  .text-join a {
    width: 30%;
  }
  .form {
    width: 65%;
    flex-direction: column;
    margin: 50px auto;
  }
  .nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav-footer nav {
    width: 80%;
  }
  .nav-footer nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
  }
  .nav-footer nav ul li:nth-child(2) {
    margin-left: 45px;
  }
  .footer-logo {
    padding-top: 0;
  }
  .footer-logo img {
    width: 110px;
    height: 110px;
    margin: 0 25px;
  }
  .social span {
    width: 35%;
  }
  .social h2 {
    margin-bottom: 30px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
  }
  .icons i {
    font-size: 30px;
  }
  .social {
    margin: 0;
    width: 100%;
  }
  .social img {
    margin: 10px;
  }
}
@media (max-width: 700px) {
  .main-header {
    width: 70%;
  }
}
@media (min-width: 820px) {
  .nav-footer nav {
    width: 60%;
  }
  .main-header p {
    line-height: 35px;
  }
  .gym-photo {
    height: auto;
  }
}
@media (min-width: 1200px) {
  .line {
    margin: 165px 0;
  }
  .mainMenu li {
    padding: 0 10px;
  }
  .main-header {
    margin: 50px auto 100px;
    font-size: 21px;
  }
  .main-header p {
    width: 850px;
    margin: 0 auto;
    line-height: 35px;
  }
  .offer,
  .policy {
    width: 75%;
    margin: 0 auto;
  }
  .offer h1 {
    padding: 0;
  }
  iframe {
    width: 260px;
  }
  .videos_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .last-video {
    display: block;
  }
  .text a {
    width: 35%;
  }
  .text-join a {
    width: 18%;
  }
  .schedule {
    width: 50%;
    margin: 0 auto;
  }
  .prices-main {
    width: 65%;
  }
  .prices-main-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
  }
  .lessons h2 {
    font-size: 40px;
  }
  .lessons p,
  .nav-footer nav ul li a,
  .nav-footer nav ul li p {
    font-size: 20px;
  }
  .form {
    width: 80%;
    flex-direction: row;
    padding: 50px;
    margin-bottom: 150px;
  }
  .form h1 {
    padding: 0 20px 45px;
  }
  .form-img {
    display: block;
    width: 100%;
  }
  .form ul {
    margin-left: 30px;
  }
  .nav-footer {
    justify-content: space-between;
  }
  .nav-footer ul {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-footer h3 {
    margin-bottom: 20px;
    font-size: 25px;
  }
  .rules {
    width: 75%;
    margin: 20px auto 100px;
  }
}
@media (min-width: 1300px) {
  .offer ul {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
  }
  .text a {
    width: 25%;
  }
  .videos_box {
    width: 90%;
  }
  .form {
    width: 70%;
  }
  .policy {
    width: 65%;
    margin: 0 auto;
  }
}
@media (min-width: 1500px) {
  .gym-photo,
  .photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: auto;
    margin: 165px auto;
  }
  .lessons {
    display: flex;
  }
  .form {
    width: 55%;
  }
}
@media (min-width: 1700px) {
  .form,
  .main-header {
    width: 45%;
  }
  .videos {
    width: 60%;
  }
  .text-join a {
    width: 10%;
  }
  .schedule {
    width: 40%;
    margin: 0 auto;
  }
  .prices {
    width: 80%;
  }
  .prices-main {
    width: 50%;
  }
  .text-join {
    margin: 0 0 100px;
  }
  .nav-footer {
    justify-content: space-between;
  }
  .footer-logo img {
    width: 150px;
    height: 150px;
  }
  .nav-footer nav {
    margin: 40px 0;
  }
  .nav-footer nav ul {
    width: 80%;
    margin: 0 auto;
  }
}
