{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- navigation -->
<nav class='navigation'>
    <div class='logo'>
        <h1>Nazwa firmy</h1>
    </div>
    <div class='openMenu'><i class='fa fa-bars'></i></div>
    <ul class='mainMenu'>
        <li><a href="#">HOME</a></li>
        <li><a href="#instructors">O NAS</a></li>
        <li><a href="#offer">OFERTA</a></li>
        <li><a href="#">GRAFIK</a></li>
        <li><a href="#prices">CENNIK</a></li>
        <li><a href="#contact">KONTAKT</a></li>
        <li>
            <div class='closeMenu'><i class='fa fa-times'></i></div>
            <span class='icons'>
                <i class='fa fa-facebook'></i>
                <i class='fa fa-instagram'></i>
            </span>
        </li>
    </ul>
</nav>

<main>
    <!-- main video -->
    <video class='header-video' muted='muted' autoplay='autoplay' loop='loop'>
        <source src="" type="video/mp4">
    </video>

    <hr class='line'>

    <!-- offer section -->
    <section class='offer' id='offer'>
        <h1>OFERTA</h1>
        <ul>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>STRIP DANCE</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>HIGH HEELS</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>TWERK</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>STRIP FLOW</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
        </ul>
        <ul>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>STRIP AKROBATYKA</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>FEMALE DANCE</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>HIP HOP</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
            <li>
                <img src="{% static 'notes/media/strip.jpg' %}" alt="">
                <h4>STRETCHING</h4>
                <p>Opis zajęć do dodania. Treść - 2/3 krótkie zdania opisujące co to za zajęcia.</p>
            </li>
        </ul>
    </section>

    <hr class='line'>

    <!-- classes video section -->
    <section class='videos' id='videos'>
        <h1>ZAPRASZAMY DO ŚWIATA TAŃCA</h1>
        <p>Naucz się kroków tanecznych i rozwijaj swoje umiejętności dzięki regularnym zajęciom tanecznym.</p>
        <p>Nie ważne, czy jesteś początkującym tancerzem czy już masz doświadczenie - nasze zajęcia są dla Ciebie!
            Obejrzyj video z układami tanecznymi, które uczymy i dołącz do nas!</p>
        <div>
            <video src=""></video>
            <video src=""></video>
            <video src=""></video>
        </div>
    </section>

    <hr class='line'>

    <!-- workshops video section -->
    <section class='videos'>
        <h1>WARSZTATY</h1>
        <p>Ucz się i odkrywaj różnorodność stylów tanecznych na warsztatach.</p>
        <div>
            <video src=""></video>
            <video src=""></video>
            <video src=""></video>
        </div>
    </section>

    <hr class='line'>

    <!-- instructors section-->
    <section class='instructors' id='instructors'>
        <h1>TRENERZY</h1>
        <ul class='right'>
            <li>
                <img src="" alt="">
                <div>
                    <h2>IMIĘ I NAZWISKO</h2>
                    <p>Krótki opis</p>
                    <button onclick="window.location.href='https://www.instagram.com'">INSTAGRAM</button>

                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h2>IMIĘ I NAZWISKO</h2>
                    <p>Krótki opis</p>
                    <button onclick="window.location.href='https://www.instagram.com'">INSTAGRAM</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h2>IMIĘ I NAZWISKO</h2>
                    <p>Krótki opis</p>
                    <button onclick="window.location.href='https://www.instagram.com'">INSTAGRAM</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h2>IMIĘ I NAZWISKO</h2>
                    <p>Krótki opis</p>
                    <button onclick="window.location.href='https://www.instagram.com'">INSTAGRAM</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h2>IMIĘ I NAZWISKO</h2>
                    <p>Krótki opis</p>
                    <button onclick="window.location.href='https://www.instagram.com'">INSTAGRAM</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h2>IMIĘ I NAZWISKO</h2>
                    <p>Krótki opis</p>
                    <button onclick="window.location.href='https://www.instagram.com'">INSTAGRAM</button>
                </div>
            </li>
        </ul>
    </section>

    <hr class='line'>

    <!-- prices section -->
    <section class='prices' id='prices'>
        <h1>CENNIK</h1>
        <ul>
            <li>
                <h2>KARNET 4 WEJŚĆ</h2>
                <p>zajęcia 1xw tygodniu <br> zajęcia trwają 60 minut <br>zajęcia z instruktorem w grupie <br> karnet
                    ważny
                    30 dni, od dnia nabycia</p>
                <p>150zł</p>
            </li>
            <li>
                <h2>KARNET 8 WEJŚĆ</h2>
                <p>zajęcia 2xw tygodniu <br> zajęcia trwają 60 minut <br>zajęcia z instruktorem w grupie <br> karnet
                    ważny
                    30 dni, od dnia nabycia</p>
                <p>250zł</p>
            </li>
            <li>
                <h2>KARNET 12 WEJŚĆ</h2>
                <p>zajęcia 3xw tygodniu <br> zajęcia trwają 60 minut <br>zajęcia z instruktorem w grupie <br> karnet
                    ważny
                    30 dni, od dnia nabycia</p>
                <p>350zł</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>PAKIET VIP</h2>
                <p>nielimitowany dostęp do wszystkich zajęć <br> zajęcia trwają 60 minut <br> zajęcia z instruktorem w
                    grupie <br> karnet ważny 30 dni, od dnia nabycia</p>
                <p>450zł</p>
            </li>
            <li>
                <h2>POJEDYNCZE WEJŚCIE</h2>
                <p>jednorazowe wejście na wybrane zajęcia<br> zajęcia trwają 60 minut <br> zajęcia z instruktorem <br>
                    zajęcia w grupie</p>
                <p>50zł</p>
            </li>
        </ul>
    </section>
    <!-- individual lesson -->
    <div class='lessons'>
        <h2>ZAJĘCIA INDYWIDUALNE</h2>
        <p>Zajęcia indywidualne to doskonała okazja, aby dopasować trening do Twoich potrzeb i celów. Skorzystaj z tej
            możliwości i
            osiągnij swoje cele treningowe szybciej i skuteczniej!</p>
    </div>
    <!-- dance space to rental -->
    <div class='lessons'>
        <h2>OFERTA WYNAJMU SALI</h2>
        <p> Informujemy, że istnieje możliwość wynajmu sali. <br>
            Nasza siedziba mieści się w ścisłym centrum Wrocławia. <br>
            Studio znajduję się w świetnie skomunikowanej strefie czyli samym Rynku. <br> Proponujemy przestronną salę z
            drewnianym parkietem na całej powierzchni. <br> W sali lustra są na całej długości wraz z profesjonalnym
            nagłośnieniem oraz oświetleniem. <br> Proponujemy wynajem na: nagrania, studio fotograficzne, treningi,
            próby i
            inne. <br> Jeśli szukasz sali, by
            poćwiczyć solo lub z partnerem napisz do nas lub zadzwoń.</p>
    </div>
    <hr class='line'>
    <!-- short text -->
    <div class='text'>
        <p>Odkryj przyjemność z tańca.</p>
        <p>DOŁĄCZ DO NAS!</p>
    </div>
</main>
<footer id='contact'>
    <div class='nav-footer'>
        <nav>
            <ul>
                <li><img src="" alt="">
                    <h2>Adres</h2>
                    <p>Rynek 31/32 <br> 50-121 Wrocław</p>
                </li>
                <li><img src="" alt="">
                    <h2>Telefon</h2>
                    <p> <a href="tel:+48790318971">790 318 971</a></p>
                </li>
                <li><img src="" alt="">
                    <h2>E-mail</h2>
                    <a href="mailto:info.chernikastudio@gmail.com">info.chernikastudio@gmail.com</a>
                </li>
            </ul>
        </nav>
        <div class='social'>
            <h2>Bądź na bieżąco!</h2>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
    </div>
    <div class='author'>
        <p>Copyright © 2023
            <a href=''>Nazwa Twojej Strony</a>
        </p>
    </div>
</footer>
{% endblock %}