{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chernika Dance Studio - Pierwsza szkoła Strip Dance w Polsce! {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/styles.css' %}">
    <script src="https://kit.fontawesome.com/7ed2ad5f5e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Thasadith:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'website/media/icons/logokolo.png' %}">
</head>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'website/js/script.js' %}" async></script>
</body>

</html>