{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chernika Dance Studio - Pierwsza szkoła Strip Dance w Polsce! {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/styles.css' %}">
    <script src="https://kit.fontawesome.com/7ed2ad5f5e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Thasadith:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'website/media/icons/logokolo.png' %}">
</head>

<body>
    <div class="container">
        <header class="{% block extra_nav_class %}{% endblock %}">
            <div class='logo'>
                <a href="https://chernikastudio.pl/"><img src="{% static 'website/media/icons/logo3.jpeg' %}"
                        alt="company logo"></a>
            </div>
            <nav class='navigation'>
                <div class='openMenu'><i class='fa fa-bars'></i></div>
                <ul class='mainMenu'>
                    <li><a href="/" class='link'>HOME</a></li>
                    <li><a href="/#offer" class='link'>ZAJĘCIA</a></li>
                    <li><a href="/#instructors" class='link'>TRENERKI</a></li>
                    <li><a href="/#schedule" class='link'>GRAFIK</a></li>
                    <li><a href="/#prices" class='link'>CENNIK</a></li>
                    <li><a href="/#contact" class='link'>KONTAKT</a></li>
                    <li>
                        <div class='closeMenu'><i class='fa fa-times'></i></div>
                        <span class='icons'>
                            <a href="{{contact.facebook}}" target="_blank"><i class='fa fa-facebook'></i></a>
                            <a href="{{contact.instagram}}" target="_blank"><i class='fa fa-instagram'></i></a>
                        </span>
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer id='contact'>
            <div class='nav-footer'>
                <div class='footer-logo'>
                    <div class='footer-line'></div>
                    <img src="{% static 'website/media/icons/logo3.jpeg' %}" alt='logo icon'>
                    <div class='footer-line'></div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            <h3>Telefon</h3>
                            <p> <a href="tel:+48790318971">{{contact.phone}}</a></p>
                        </li>
                        <li><i class="fa-sharp fa-solid fa-location-dot"></i>
                            <h3>Adres</h3>
                            <p>{{contact.address_1}} <br>{{contact.address_2}} </p>
                        </li>
                        <li><i class="fa-solid fa-envelope"></i>
                            <h3>E-mail</h3>
                            <a href="mailto:info.chernikastudio@gmail.com">info.chernikastudio<br>@gmail.com</a>
                        </li>
                    </ul>
                </nav>
                <div class='social'>
                    <h2>Bądź na bieżąco!</h2>
                    <span class='icons'>
                        <a href="{{contact.facebook}}" target="_blank"><i class='fa fa-facebook '></i></a>
                        <a href="{{contact.youtube}}" target="_blank"><i class="fa-brands fa-youtube"
                                style="color: #ffffff;"></i></a>
                        <a href="{{contact.instagram}}" target="_blank"><i class='fa fa-instagram'></i></a>
                    </span>
                </div>
            </div>
            <div class='social rules-footer'>
                <a href='{% url "rules" %}'>Regulamin</a>
                <a href='{% url "privacy_policy" %}'>Polityka prywatności</a>
            </div>
            <div class='author'>
                <p>Copyright © {% now "Y"%}
                    by <a href="https://github.com/Ewelina-EN" target="_blank">Ewelina</a> & <a
                        href="https://akademiait.com.pl/" target="_blank">Jacek</a>
                    Ostańscy</a>
                </p>
            </div>
        </footer>
        <!-- cookies -->
        <div id="cookies" class="fixed-bottom d-none">
            <p>Korzystając z naszej strony internetowej, wyrażasz zgodę na przetwarzanie plików cookie
                i danych
                użytkownika zgodnie z <a href=''>Polityką Prywatności</a>. Jeśli nie
                chcesz, aby Twoje dane były przetwarzane, opuść witrynę</p>

            <button onClick="closeCookies()" class='cookies_btn'>OK</button>
        </div>
    </div>
    <script src="{% static 'website/js/script.js' %}" async></script>
</body>

</html>