{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<!-- navigation -->
<header>
    <div class='logo'>
        <img src="{% static 'website/media/icons/logo3.jpeg' %}" alt="">
    </div>
    <nav class='navigation'>
        <div class='openMenu'><i class='fa fa-bars'></i></div>
        <ul class='mainMenu'>
            <li><a href="/" class='link'>HOME</a></li>
            <li><a href="#instructors" class='link'>O NAS</a></li>
            <li><a href="#offer" class='link'>OFERTA</a></li>
            <li><a href="#schedule" class='link'>GRAFIK</a></li>
            <li><a href="#prices" class='link'>CENNIK</a></li>
            <li><a href="#contact" class='link'>KONTAKT</a></li>
            <li>
                <div class='closeMenu'><i class='fa fa-times'></i></div>
                <span class='icons'>
                    <a href="{{contact.facebook}}"><i class='fa fa-facebook'></i></a>
                    <a href="{{contact.instagram}}"><i class='fa fa-instagram'></i></a>
                </span>
            </li>
        </ul>
    </nav>
</header>

<body>
    <main>
        <!-- main video -->
        <!-- <video class='header-video' muted='muted' autoplay='autoplay' loop='loop'>
            <source src="{% static 'website/media/videos/pyta-winylowa-57307.mp4' %}" type="video/mp4">
        </video>

        <hr class='line'> -->

        <!-- offer section -->
        <section class='offer' id='offer'>
            <h1>OFERTA</h1>
            <ul>
                {% for offer in offers %}
                <li>
                    {% thumbnail offer.photo "200x200" as im %}
                    <img src="{{im.url}}" alt="{{offer.title}}">
                    {% endthumbnail %}
                    <h4>{{offer.title}}</h4>
                    <p>{{offer.content}}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

        <hr class='line'>

        <!-- classes video section -->
        {% for blockWithVideo in blocks_with_video %}
        <section class='videos' id='videos'>
            <h1>{{blockWithVideo.title}}</h1>
            <p>{{blockWithVideo.content}}</p>
            <!-- <p>{{blockWithVideo.content_1}}</p> -->
            <div>
                <iframe src=" {{blockWithVideo.video_iframe_src_url_1}}"
                    title="LEKCJE TAŃCA WROCŁAW | High Heels | Strip Dance | Twerk | Chernika Dance Studio"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <iframe src="{{blockWithVideo.video_iframe_src_url_2}}"
                    title="LEKCJE TAŃCA WROCŁAW | High Heels | Strip Dance | Twerk | Chernika Dance Studio"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                <iframe src="{{blockWithVideo.video_iframe_src_url_3}}"
                    title="LEKCJE TAŃCA WROCŁAW | High Heels | Strip Dance | Twerk | Chernika Dance Studio"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class='text'>
                <p>Chcesz zobaczyć więcej?</p>
                <a href="https://www.youtube.com/@chernikadancestudio">SPRAWDŹ</a>
            </div>
        </section>
        <hr class='line'>
        {% endfor %}

        <!-- instructors section-->
        <section class='instructors' id='instructors'>
            <h1>TRENERZY</h1>
            <ul>
                {% for trainer in trainers %}
                <li>
                    <!-- {# skalowanie obrazków:
                    https://sorl-thumbnail.readthedocs.io/en/latest/examples.html#template-examples #} -->
                    {% thumbnail trainer.photo "200x200" as im %}
                    <img src="{{im.url}}" alt="{{trainer.title}}">
                    {% endthumbnail %}
                    <div>
                        <h2>{{trainer.title}}</h2>
                        <p>{{trainer.content}}</p>
                        <!-- <a href='{{trainer.profile_url}}'>
                            INSTAGRAM</a> -->

                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>

        <hr class='line'>

        <!--schedule section  -->
        <section class='schedule' id='schedule'>
            <h1>GRAFIK</h1>
            {% for weekday in weekdays %}
            {% if weekday.schedule_items.count %}
            <table class='day'>
                <thead class='day-name'>
                    <tr>
                        <th colspan="3">{{weekday.title}}</th>
                    </tr>
                </thead>
                <tbody class='details'>
                    {% for item in weekday.schedule_items.all %}
                    <tr>
                        <td class='hour'>{{item.start_time|time:"H:i"}} - {{item.end_time|time:"H:i"}}</td>
                        <td class='workout'>{{item.title}}</td>
                        <td class='sch-instructor'>{{item.instructor}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
            <div class='schedule-info'>
                <p>Beginners - poziom początkujący. Advanced - poziom zaawansowany Open - zajęcia dla osób,
                    na każdym poziomie umiejętności</p>
                <p>⚪ - zajęcia się odbywają, wolne miejsca w grupie <br>
                    🔵 - zbieramy zapisy, zajęcia ruszą po uzyskaniu minimalnej liczby chętnych</p>
            </div>

        </section>

        <hr class='line'>

        <!-- prices section -->
        <section class='prices' id='prices'>
            <h1>CENNIK</h1>
            <section class='prices-main'>
                <ul class='prices-main-list'>
                    {% for priceList in price_list %}
                    <li class='prices-list'>
                        <h2>{{priceList.title}}</h2>
                        <ul class='prices-info'>
                            <li>{{priceList.content_1}}</li>
                            <li>{{priceList.content_2}}</li>
                            <li>{{priceList.content_3}}</li>
                            <li>{{priceList.content_4}}</li>
                        </ul>
                        <p>{{priceList.price|floatformat:"0"}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </section>
        <!-- dance space to rental -->
        <div class='lessons'>
            <h2>OFERTA WYNAJMU SALI</h2>
            <p> Informujemy, że istnieje możliwość wynajmu sali. <br>
                Nasza siedziba mieści się w ścisłym centrum Wrocławia. <br>
                Studio znajduję się w świetnie skomunikowanej strefie czyli samym Rynku. <br> Proponujemy przestronną
                salę z
                drewnianym parkietem na całej powierzchni. <br> W sali lustra są na całej długości wraz z profesjonalnym
                nagłośnieniem oraz oświetleniem. <br> Proponujemy wynajem na: nagrania, studio fotograficzne, treningi,
                próby i
                inne.
            </p>
            <p>Jeśli szukasz sali, by
                poćwiczyć solo lub z partnerem <a href="mailto:info.chernikastudio@gmail.com"><br><strong>NAPISZ DO
                        NAS</strong></a> lub <a href="tel:+48790318971"><strong>ZADZWOŃ</strong></a></p>
        </div>
        <hr class='line'>
        <!-- short text -->
        <div class='text'>
            <p>Odkryj przyjemność z tańca.</p>
            <a href="https://www.instagram.com/">DOŁĄCZ DO NAS!</a>
        </div>
    </main>
    <footer id='contact'>
        <div class='nav-footer'>
            <nav>
                <ul>
                    <li><i class="fa-sharp fa-solid fa-location-dot"></i>
                        <h3>Adres</h3>
                        <p>{{contact.address_1}} <br>{{contact.address_2}} </p>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <h3>Telefon</h3>
                        <p> <a href="tel:+48790318971">{{contact.phone}}</a></p>
                    </li>
                    <li><i class="fa-solid fa-envelope"></i>
                        <h3>E-mail</h3>
                        <a href="mailto:info.chernikastudio@gmail.com">info.chernikastudio@gmail.com</a>
                    </li>
                </ul>
            </nav>
            <div class='social'>
                <h2>Bądź na bieżąco!</h2>
                <span class='icons'>
                    <a href="{{contact.facebook}}"><i class='fa fa-facebook '></i></a>
                    <a href="{{contact.instagram}}"><i class='fa fa-instagram'></i></a>
                </span>
            </div>
        </div>
        <div class='author'>
            <p>Copyright © {% now "Y"%}
                by <a href="https://github.com/Ewelina-EN">Ewelina</a> & <a href="https://akademiait.com.pl/">Jacek</a>
                Ostańscy</a>
            </p>
        </div>
    </footer>
</body>

{% endblock %}