{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{%block extra_nav_class%}subpage{% endblock %}


{% block content %}
<div class='policy'>
    <h1>POLITYKA PRYWATNOŚCI</h1>
    <p><br></p>
    <h2>Polityka prywatności i plik&oacute;w cookies</h2>
    <p>Dzień dobry!</p>
    <p>Jeżeli tutaj trafiłeś, to niezawodny znak, że cenisz swoją prywatność. Doskonale to rozumiemy, dlatego
        przygotowaliśmy dla Ciebie ten dokument, w kt&oacute;rym znajdziesz zasady przetwarzania danych osobowych oraz
        wykorzystywania plik&oacute;w cookies w związku z korzystaniem ze strony internetowej chernikastudio.pl</p>
    <p>Informacja formalna na początek &ndash; administratorem strony jest Yuliia Malyshko, właścicielka Chernika Dance
        Studio.</p>
    <p>W razie jakichkolwiek wątpliwości związanych z polityką prywatności, w każdej chwili możesz skontaktować się z
        nami,
        wysyłając wiadomość na adres info.chernikastudio@gmail.com</p>
    <h2>Skr&oacute;cona wersja &ndash; najważniejsze informacje</h2>
    <p>Dbamy o Twoją prywatność, ale r&oacute;wnież o Tw&oacute;j czas. Dlatego przygotowaliśmy dla Ciebie
        skr&oacute;coną
        wersję najważniejszych zasad związanych z ochroną prywatności.</p>
    <p>Zakładając konto użytkownika, składając zam&oacute;wienie, składając reklamację, odstępując od umowy dodając
        komentarz czy po prostu kontaktując się z nami, przekazujesz nam swoje dane osobowe, a my gwarantujemy Ci, że
        Twoje
        dane pozostaną poufne, bezpieczne i nie zostaną udostępnione jakimkolwiek podmiotom trzecim bez Twojej wyraźnej
        zgody.</p>
    <p>Powierzamy przetwarzanie danych osobowych tylko sprawdzonym i zaufanym podmiotom świadczącym usługi związane z
        przetwarzaniem danych osobowych.</p>
    <p>Korzystamy z narzędzi analitycznych Google Analytics, kt&oacute;re zbierają informacje na temat Twoich odwiedzin
        strony, takie jak podstrony, kt&oacute;re wyświetliłeś, czas, jaki spędziłeś na stronie czy przejścia pomiędzy
        poszczeg&oacute;lnymi podstronami. W tym celu wykorzystywane są pliki cookies firmy Google LLC dotyczące usługi
        Google Analytics. W ramach Google Analytics zbieramy dane demograficzna oraz dane o zainteresowaniach. W ramach
        ustawień plik&oacute;w cookies możesz zadecydować, czy wyrażasz zgodę na zbieranie o Tobie takich danych, czy
        nie.
    </p>
    <p>Korzystamy z narzędzia Google AdWords w celu prowadzenia kampanii remarketingowych. W tym celu wykorzystywane są
        pliki cookies firmy Google LLC dotyczące usługi Google AdWords. W ramach ustawień plik&oacute;w cookies możesz
        zadecydować, czy wyrażasz zgodę na wykorzystywanie w Twoim przypadku takich plik&oacute;w cookies, czy nie.</p>
    <p>Korzystamy z narzędzia Google Tag Manager w celu kontrolowania kampanii reklamowych i tego, w jaki spos&oacute;b
        korzystasz z naszych stron. W tym celu wykorzystywane są pliki cookies firmy Google LLC związane z usługą Google
        Tag
        Manager. W ramach ustawień plik&oacute;w cookies możesz zadecydować, czy wyrażasz zgodę na wykorzystywanie w
        Twoim
        przypadku takich plik&oacute;w cookies, czy nie.</p>
    <p>Korzystamy z narzędzi marketingowych, takich jak Facebook Pixel, by kierować do Ciebie spersonalizowane reklamy w
        serwisie Facebook. Wiążę się to z wykorzystywaniem plik&oacute;w cookies firmy Facebook. W ramach ustawień
        plik&oacute;w cookies możesz zadecydować, czy wyrażasz zgodę na korzystanie przez nas w Twoim przypadku z Pixela
        Facebooka, czy nie.</p>
    <p>Zapewniamy możliwość korzystania z funkcji społecznościowych, takich jak udostępnianie treści w serwisach
        społecznościowych oraz subskrypcja profilu społecznościowego. Korzystanie z tych funkcji może wiązać się z
        wykorzystywaniem plik&oacute;w cookies administrator&oacute;w serwis&oacute;w społecznościowych takich jak
        Facebook,
        Instagram, YouTube, Twitter, Google+, LinkedIN.</p>
    <p>Osadzamy na stronach wideo z serwisu YouTube oraz Vimeo. W tym celu wykorzystywane są pliki cookies firmy Google
        LLC
        dotyczące usługi YouTube oraz pliki cookies firmy Vimeo Inc. Pliki cookies ładowane są dopiero przy odtwarzaniu
        wideo.</p>
    <p>Wykorzystujemy pliki cookies własne w celu prawidłowego działania strony, w szczeg&oacute;lności obsługi konta
        użytkownika, procesu składania zam&oacute;wienia.</p>
    <p>Jeżeli powyższe informacje nie są dla Ciebie wystarczające, poniżej znajdziesz dalej idące szczeg&oacute;ły.</p>
    <h2>Dane osobowe</h2>
    <p>Zgodnie z art. 13 ust. 1 rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 r. w
        sprawie
        ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu
        takich
        danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych) &ndash; dalej: RODO,
        informujemy, że administratorem Twoich danych osobowych jest Yuliia Malyshko, właścicielka Chernika Dance
        Studio,
        NIP: 8971915752</p>
    <p>Cele, podstawy prawne oraz okres przetwarzania danych osobowych wskazane są odrębnie w stosunku do każdego celu
        przetwarzania danych (patrz: opis poszczeg&oacute;lnych cel&oacute;w przetwarzania danych osobowych poniżej).
    </p>
    <p>Uprawnienia. RODO przyznaje Ci następujące potencjalne uprawnienia związane z przetwarzaniem Twoich danych
        osobowych:
    </p>
    <p>prawo dostępu do danych osobowych,</p>
    <p>prawo do sprostowania danych osobowych,</p>
    <p>prawo do usunięcia danych osobowych,</p>
    <p>prawo do ograniczenia przetwarzania danych osobowych,</p>
    <p>prawo do wniesienia sprzeciwu co do przetwarzania danych osobowych,</p>
    <p>prawo do przenoszenia danych,</p>
    <p>prawo do wniesienia skargi do organu nadzorczego,</p>
    <p>prawo do odwołania zgody na przetwarzanie danych osobowych, jeżeli takową zgodę wyraziłeś.</p>
    <p>Zasady związane z realizacją wskazanych uprawnień zostały opisane szczeg&oacute;łowo w art. 16 &ndash; 21 RODO.
        Zachęcamy do zapoznania się z tymi przepisami. Ze swojej strony uważamy za potrzebne wyjaśnić Ci, że wskazane
        powyżej uprawnienia nie są bezwzględne i nie będą przysługiwać Ci w stosunku do wszystkich czynności
        przetwarzania
        Twoich danych osobowych. Dla Twojej wygody dołożyliśmy starań, by w ramach opisu poszczeg&oacute;lnych operacji
        przetwarzania danych osobowych wskazać na przysługujące Ci w ramach tych operacji uprawnienia.</p>
    <p>Podkreślamy, że jedno z uprawnień wskazanych powyżej przysługuje Ci zawsze &ndash; jeżeli uznasz, że przy
        przetwarzaniu Twoich danych osobowych dopuściliśmy się naruszenia przepis&oacute;w o ochronie danych osobowych,
        masz
        możliwość wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych).</p>
    <p>Zawsze możesz r&oacute;wnież zwr&oacute;cić się do nas z żądaniem udostępnienia Ci informacji o tym, jakie dane
        na
        Tw&oacute;j temat posiadamy oraz w jakich celach je przetwarzamy. Wystarczy, że wyślesz wiadomość na adres
        info.chernikastudio@gmail.com Dołożyliśmy jednak wszelkich starań, by interesujące Cię informacje zostały
        wyczerpująco
        przedstawione w niniejszej polityce prywatności. Podany powyżej adres e-mail możesz wykorzystać r&oacute;wnież w
        razie jakichkolwiek pytań związanych z przetwarzaniem Twoich danych osobowych.</p>
    <p>Bezpieczeństwo. Gwarantujemy Ci poufność wszelkich przekazanych nam danych osobowych. Zapewniamy podjęcie
        wszelkich
        środk&oacute;w bezpieczeństwa i ochrony danych osobowych wymaganych przez przepisy o ochronie danych osobowych.
        Dane
        osobowe są gromadzone z należytą starannością i odpowiednio chronione przed dostępem do nich przez osoby do tego
        nieupoważnione.</p>
    <p>Odbiorcy danych. Twoje dane mogą być przetwarzane przez naszych podwykonawc&oacute;w, czyli podmiot&oacute;w, z
        kt&oacute;rych usług korzystamy przy przetwarzaniu danych oraz świadczeniu na Twoją rzecz usług czy realizacji
        zam&oacute;wień w sklepie internetowym.</p>
    <p>Hosting Az, OVH &ndash; w celu przechowywania danych osobowych na serwerze,</p>
    <p>Google mail &ndash; w celu korzystania z systemu mailingowego, w kt&oacute;rym przetwarzane są Twoje dane, jeżeli
        zapisałeś się do newslettera,</p>
    <p>&hellip;&hellip;&hellip;&hellip; &ndash; w celu obsługi procesu wysyłki paczek w sklepie internetowym, w ramach
        kt&oacute;rego dochodzi do przetwarzania Twoich danych niezbędnych do dostawy zam&oacute;wienia,</p>
    <p>Poczta Polska, DHL, paczkomat &ndash; w celu korzystania z usług firm kurierskich, kt&oacute;re dostarczają do
        Ciebie
        zam&oacute;wienia,</p>
    <p>Pixel PR &ndash; w celu korzystania z wsparcia IT, zarządzania stronami internetowymi, w związku z kt&oacute;rymi
        podmiot realizujący wsparcie może mieć dostęp do Twoich danych osobowych gromadzonych w ramach serwisu lub
        sklepu,
    </p>
    <p>Wszystkie podmioty, kt&oacute;rym powierzamy przetwarzanie danych osobowych gwarantują stosowanie odpowiednich
        środk&oacute;w ochrony i bezpieczeństwa danych osobowych wymaganych przez przepisy prawa.</p>
    <h2>Cele i czynności przetwarzania</h2>
    <p>Konto użytkownika. Zakładając konto użytkownika, musisz podać dane niezbędne do założenia konta, takie jak adres
        e-mail, imię i nazwisko, dane adresowe, numer telefonu. Podanie danych jest dobrowolne, ale niezbędne do
        założenia
        konta. W ramach edycji danych konta możesz podać swoje dalej idące dane.</p>
    <p>Dane przekazane nam w związku z założeniem konta, przetwarzane są w celu założenia i utrzymywania konta na
        podstawie
        umowy o świadczenie usług drogą elektroniczną zawieranej poprzez rejestrację konta (art. 6 ust. 1 lit. b RODO).
    </p>
    <p>Dane zawarte w koncie będą przetwarzane przez czas funkcjonowania konta. Gdy zdecydujesz się usunąć konto,
        usuniemy
        r&oacute;wnież dane w nim zawarte. Pamiętaj jednak, że usunięcie konto nie prowadzi do usunięcia informacji o
        zam&oacute;wieniach złożonych przez Ciebie z wykorzystaniem konta.</p>
    <p>W każdej chwili masz możliwości sprostowania danych zawartych w koncie. W każdej chwili możesz r&oacute;wnież
        podjąć
        decyzję o usunięciu konta. Przysługuje Ci r&oacute;wnież prawo do przenoszenia danych, o kt&oacute;rym mowa w
        art.
        20 RODO.</p>
    <p>Zam&oacute;wienia. Składając zam&oacute;wienie, musisz podać dane niezbędne do realizacji zam&oacute;wienia,
        takie
        jak imię i nazwisko, adres rozliczeniowy, adres e-mail, numer telefonu. Podanie danych jest dobrowolne, ale
        niezbędne do złożenia zam&oacute;wienia.</p>
    <p>Dane przekazane nam w związku z zam&oacute;wieniem, przetwarzane są w celu realizacji zam&oacute;wienia (art. 6
        ust.
        1 lit. b RODO), wystawienia faktury (art. 6 ust. 1 lit. c RODO), uwzględnienia faktury w naszej dokumentacji
        księgowej (art. 6 ust. 1 lit. c RODO) oraz w celach archiwalnych i statystycznych (art. 6 ust. 1 lit. f RODO).
    </p>
    <p>Dane o zam&oacute;wieniach będą przetwarzane przez czas niezbędny do realizacji zam&oacute;wienia, a następnie do
        czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Ponadto, po upływie tego terminu, dane
        nadal
        mogą być przez nas przetwarzane w celach statystycznych. Pamiętaj r&oacute;wnież, że mamy obowiązek przechowywać
        faktury z Twoimi danymi osobowymi przez okres 5 lat od końca roku podatkowego, w kt&oacute;rym powstał obowiązek
        podatkowy.</p>
    <p>W przypadku danych o zam&oacute;wieniach nie masz możliwości sprostowania tych danych po realizacji
        zam&oacute;wienia. Nie możesz r&oacute;wnież sprzeciwić się przetwarzaniu danych oraz domagać się usunięcia
        danych
        do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Podobnie, nie możesz sprzeciwić się
        przetwarzaniu danych oraz domagać się usunięcia danych zawartych w fakturach. Po upływie terminu przedawnienia
        roszczeń z tytułu zawartej umowy możesz jednać sprzeciwić się przetwarzaniu przez nas Twoich danych w celach
        statystycznych, jak r&oacute;wnież domagać się usunięcia Twoich danych z naszej bazy.</p>
    <p>W stosunku do danych o zam&oacute;wieniach przysługuje Ci r&oacute;wnież prawo do przenoszenia danych, o
        kt&oacute;rym mowa w art. 20 RODO.</p>
    <p>Reklamacje i odstąpienie od umowy. Jeżeli składasz reklamację lub odstępujesz od umowy, to przekazujesz nam dane
        osobowe zawarte w treści reklamacji lub oświadczeniu o odstąpieniu od umowy, kt&oacute;re obejmuję imię i
        nazwisko,
        adres zamieszkania, numer telefonu, adres e-mail, numer rachunku bankowego. Podanie danych jest dobrowolne, ale
        niezbędne, by złożyć reklamację lub odstąpić od umowy.</p>
    <p>Dane przekazane nam w związku ze złożeniem reklamacji lub odstąpieniem od umowy wykorzystywane są w celu
        realizacji
        procedury reklamacyjnej lub procedury odstąpienia od umowy (art. 6 ust. 1 lit. c RODO).</p>
    <p>Dane będą przetwarzane przez czas niezbędny do realizacji procedury reklamacyjnej lub procedury odstąpienia.
        Reklamacje oraz oświadczenia o odstąpieniu od umowy mogą być ponadto archiwizowane w celach statystycznych.</p>
    <p>W przypadku danych zawartych w reklamacjach oraz oświadczeniach o odstąpieniu od umowy nie masz możliwości
        sprostowania tych danych. Nie możesz r&oacute;wnież sprzeciwić się przetwarzaniu danych oraz domagać się
        usunięcia
        danych do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Po upływie terminu przedawnienia
        roszczeń z tytułu zawartej umowy możesz jednak sprzeciwić się przetwarzaniu przez nas Twoich danych w celach
        statystycznych, jak r&oacute;wnież domagać się usunięcia Twoich danych z naszej bazy.</p>
    <p>Kontakt e-mailowy. Kontaktując się z nami za pośrednictwem poczty elektronicznej, w tym r&oacute;wnież
        przesyłając
        zapytanie poprzez formularz kontaktowy, w spos&oacute;b naturalny przekazujesz nam sw&oacute;j adres e-mail jako
        adres nadawcy wiadomości. Ponadto, w treści wiadomości możesz zawrzeć r&oacute;wnież inne dane osobowe. Podanie
        danych jest dobrowolne, ale niezbędne, by nawiązać kontakt.</p>
    <p>Twoje dane są w tym przypadku przetwarzane w celu kontaktu z Tobą, a podstawą przetwarzania jest art. 6 ust. 1
        lit. a
        RODO, czyli Twoja zgoda wynikające z zainicjowania z nami kontaktu. Podstawą prawną przetwarzania po zakończeniu
        kontaktu jest usprawiedliwiony cel w postaci archiwizacji korespondencji na potrzeby wewnętrzne (art. 6 ust. 1
        lit.
        c RODO).</p>
    <p>Treść korespondencji może podlegać archiwizacji i nie jesteśmy w stanie jednoznacznie określić, kiedy zostanie
        usunięta. Masz prawo do domagania się przedstawienia historii korespondencji, jaką z nami prowadziłeś (jeżeli
        podlegała archiwizacji), jak r&oacute;wnież domagać się jej usunięcia, chyba że jej archiwizacja jest
        uzasadniona z
        uwagi na nasze nadrzędne interesy, np. obrona przed potencjalnymi roszczeniami z Twojej strony.</p>
    <p>Komentarze. Jeżeli chcesz dodać komentarz na blogu, musisz wypełnić formularz i podać w nim sw&oacute;j adres
        e-mail
        oraz imię. Podanie danych jest dobrowolne, ale niezbędne, by dodać komentarz.</p>
    <p>System komentarzy obsługiwany jest przez firmę Disqus Inc., 301 Howard Street, Suite 300, San Francisco, CA94105,
        USA. Disqus jest samodzielnym administratorem Twoich danych osobowych, a korzystanie z systemu odbywa się na
        podstawie akceptacji przez Ciebie regulaminu świadczenia usług przez Disqus.</p>
    <p>Dane przekazane podczas dodawania komentarza wykorzystywane są w celu opublikowania komentarza na blog, a
        podstawą
        prawną ich przetwarzania jest Twoja zgoda (art. 6 ust. 1 lit. a RODO) wynikająca z dodania komentarza.</p>
    <p>Dane będą przetwarzane przez czas funkcjonowania komentarzy na blogu, chyba że wcześniej poprosisz o usunięcie
        komentarza, co spowoduje usunięcie Twoich danych z bazy.</p>
    <p>W każdej chwili możesz sprostować swoje dane przypisane do komentarza, jak r&oacute;wnież zażądać ich usunięcia.
        Przysługuje Ci r&oacute;wnież prawo do przenoszenia danych, o kt&oacute;rym mowa w art. 20 RODO. Uprawnienia te
        możesz realizować bezpośrednio w ramach swojego konta użytkownika w systemie Disqus.</p>
    <h2>Pliki cookies i inne technologie śledzące</h2>
    <p>Nasza strona oraz sklep, podobnie jak niemal wszystkie inne strony internetowe, wykorzystuje pliki cookies.</p>
    <p>Cookies to niewielkie informacje tekstowe, przechowywane na Twoim urządzeniu końcowym (np. komputerze, tablecie,
        smartfonie), kt&oacute;re mogą być odczytywane przez nasz system teleinformatyczny (cookies własne) lub system
        teleinformatyczny podmiot&oacute;w trzecich (cookies podmiot&oacute;w trzecich).</p>
    <p>Niekt&oacute;re używane przez nas cookies są usuwane po zakończeniu sesji przeglądarki internetowej, tzn. po jej
        zamknięciu (tzw. cookies sesyjne). Inne cookies są zachowywane na Twoim urządzeniu końcowym i umożliwiają nam
        rozpoznanie Twojej przeglądarki przy kolejnym wejściu na stronę (trwałe cookies).</p>
    <p>Więcej szczeg&oacute;ł&oacute;w znajdziesz poniżej.</p>
    <p>Zgoda na cookies. Podczas pierwszej wizyty na stronie wyświetlana jest Ci informacja na temat stosowania
        plik&oacute;w cookies. Dzięki specjalnemu narzędziu masz możliwość zarządzania plikami cookies z poziomu strony.
        Ponadto, zawsze możesz zmienić ustawienia cookies z poziomu swojej przeglądarki albo w og&oacute;le usunąć pliki
        cookies. Przeglądarki zarządzają ustawieniami cookies na r&oacute;żne sposoby. W menu pomocniczym przeglądarki
        internetowej znajdziesz wyjaśnienia dotyczące zmiany ustawień cookies.</p>
    <p>Pamiętaj, że wyłączenie lub ograniczenie obsługi plik&oacute;w cookies może powodować trudności w korzystaniu z
        naszych strony, jak r&oacute;wnież z wielu innych stron internetowych, kt&oacute;re stosują cookies.</p>
    <p>Cookies własne. Cookies własne wykorzystujemy w celu zapewnienia prawidłowego działania strony, w
        szczeg&oacute;lności procesu zam&oacute;wienia i logowania do konta użytkownika.</p>
    <p>Cookies podmiot&oacute;w trzecich. Nasza strona, podobnie jak większość wsp&oacute;łczesnych stron internetowych,
        wykorzystuje funkcje zapewniane przez podmioty trzecie, co wiąże się z wykorzystywaniem plik&oacute;w cookies
        pochodzących od podmiot&oacute;w trzecich. Wykorzystanie tego rodzaju plik&oacute;w cookies zostało opisane
        poniżej.
    </p>
    <p>Google Analytics. Korzystamy z narzędzia Google Analytics zapewnianego przez Google LLC, 1600 Amphitheatre
        Parkway,
        Mountain View, CA 94043, USA. Działania w tym zakresie realizujemy, opierając się na naszym prawnie uzasadnionym
        interesie, polegającym na tworzeniu statystyk i ich analizie w celu optymalizacji naszych stron internetowych.
    </p>
    <p>Google Analytics w spos&oacute;b automatyczny gromadzi informacje o Twoim korzystaniu z naszej strony.
        Zgromadzone w
        ten spos&oacute;b informacje są najczęściej przekazywane do serwera Google w Stanach Zjednoczonych i tam
        przechowywane.</p>
    <p>Z uwagi na aktywowaną przez nas anonimizację adresu IP, Tw&oacute;j adres IP jest skracany przed przekazaniem
        dalej.
        Tylko w wyjątkowych przypadkach pełny adres IP jest przekazywany do serwera Google w Stanach Zjednoczonych i
        dopiero
        tam skracany. Zanonimizowany adres IP przekazany przez Twoją przeglądarkę w ramach Google Analytics co do zasady
        nie
        jest łączony z innymi danymi Google.</p>
    <p>Z uwagi na to, że Google LLC posiada siedzibą w USA i wykorzystuje infrastrukturę techniczną znajdującą się w
        USA,
        przystąpił do programu EU-US-Privacy Shield w celu zapewnienia odpowiedniego poziomu ochrony danych osobowych
        wymaganego przez przepisu europejskie. W ramach umowy pomiędzy USA a Komisją Europejską ta ostatnia stwierdziła
        odpowiedni poziom ochrony danych w przypadku przedsiębiorstw posiadających certyfikat Privacy Shield.</p>
    <p>Możesz zapobiec rejestrowaniu zgromadzonych przez pliki cookies danych dotyczących korzystania przez Ciebie z
        naszej
        strony internetowej przez Google, jak r&oacute;wnież przetwarzaniu tych danych przez Google, instalując wtyczkę
        do
        przeglądarki znajdującą się pod następującym adresem: https://tools.google.com/dlpage/gaoptout.</p>
    <p>W ramach Google Analytics zbieramy r&oacute;wnież dane demograficzna oraz dane o zainteresowaniach. W ramach
        ustawień
        plik&oacute;w cookies bezpośrednio z poziomu naszej strony możesz zadecydować, czy wyrażasz zgodę na zbieranie o
        Tobie takich danych, czy nie.</p>
    <p>Jeżeli jesteś zainteresowany szczeg&oacute;łami związanymi z przetwarzaniem danych w ramach Google Analytics,
        zachęcamy do zapoznania się z wyjaśnieniami przygotowanymi przez Google:
        https://support.google.com/analytics/answer/6004245.
    </p>
    <p>Google Adwords. Korzystamy z narzędzi marketingowych Google AdWords zapewnianych przez Google LLC, 1600
        Amphitheatre
        Parkway, Mountain View, CA 94043, USA. Z pomocą Google Adwords promujemy naszą stronę internetową w wynikach
        wyszukiwania oraz na stronach os&oacute;b trzecich. Wykorzystujemy r&oacute;wnież narzędzia remarketingowe.
        Działania w tym zakresie realizujemy, opierając się na naszym prawnie uzasadnionym interesie w postaci
        marketingu
        własnych produkt&oacute;w lub usług.</p>
    <p>Przy okazji odwiedzin naszej strony internetowej automatycznie pozostawiany jest w Twoim urządzeniu plik
        remarketing
        cookie firmy Google, kt&oacute;ry z pomocą pseudonimowego identyfikatora (ID) oraz na podstawie odwiedzanych
        przez
        Ciebie stron umożliwia wyświetlanie reklam opartych na zainteresowaniach.</p>
    <p>Dalsze przetwarzanie danych ma miejsce tylko wtedy, gdy wyraziłeś zgodę wobec Google na łączenie historii
        przeglądania i użycia aplikacji z Twoim kontem oraz wykorzystanie informacji z Twojego konta Google do
        personalizowania reklam, kt&oacute;re wyświetlane są na stronach internetowych. Jeśli w takim przypadku będziesz
        zalogowany podczas wizyty na naszej stronie internetowej w serwisie Google, Google wykorzysta Twoje dane razem z
        danymi Google Analytics w celu stworzenia i zdefiniowania list grup docelowych dla cel&oacute;w remarketingu na
        r&oacute;żnych urządzeniach. W tym celu Google łączy tymczasowo Twoje dane osobowe z danymi Google Analytics,
        aby
        utworzyć grupy docelowe.</p>
    <p>Z uwagi na to, że Google LLC posiada siedzibą w USA i wykorzystuje infrastrukturę techniczną znajdującą się w
        USA,
        przystąpił do programu EU-US-Privacy Shield w celu zapewnienia odpowiedniego poziomu ochrony danych osobowych
        wymaganego przez przepisu europejskie. W ramach umowy pomiędzy USA a Komisją Europejską ta ostatnia stwierdziła
        odpowiedni poziom ochrony danych w przypadku przedsiębiorstw posiadających certyfikat Privacy Shield.</p>
    <p>Możesz dezaktywować cookies wykorzystywane do remarketingu w ramach ustawień swojego konta Google:
        https://adssettings.google.com. Ponadto, w ramach ustawień plik&oacute;w cookies z poziomu naszej strony możesz
        wyłączyć wykorzystywanie plik&oacute;w cookies na potrzeby remarketingu.</p>
    <p>Jeżeli jesteś zainteresowany szczeg&oacute;łami związanymi z przetwarzaniem danych w ramach Google AdWords,
        zachęcamy
        do zapoznania się z polityką prywatności Google: https://policies.google.com/privacy.</p>
    <p>Google Tag Manager. Korzystamy z narzędzia Google Tag Manager zapewnianego przez Google LLC, 1600 Amphitheatre
        Parkway, Mountain View, CA 94043, USA. Z pomocą Google Tag Manager kontrolujemy prowadzone przez nas kampanie
        reklamowe oraz spos&oacute;b, w jaki korzystasz z naszych stron. Działania w tym zakresie realizujemy, opierając
        się
        na naszym prawnie uzasadnionym interesie w postaci marketingu własnych produkt&oacute;w lub usług oraz
        optymalizacji
        naszych stron internetowych.</p>
    <p>Przy okazji odwiedzin naszej strony internetowej automatycznie pozostawiany jest w Twoim urządzeniu plik cookie
        firmy
        Google, kt&oacute;ry z pomocą pseudonimowego identyfikatora (ID) oraz na podstawie odwiedzanych przez Ciebie
        stron
        umożliwia wyświetlanie reklam opartych na zainteresowaniach, kontrolowanie efektywności tych reklam oraz inne
        działania związane z kontrolą Twojego zachowania na stronie.</p>
    <p>Dalsze przetwarzanie danych ma miejsce tylko wtedy, gdy wyraziłeś zgodę wobec Google na łączenie historii
        przeglądania i użycia aplikacji z Twoim kontem oraz wykorzystanie informacji z Twojego konta Google do
        personalizowania reklam, kt&oacute;re wyświetlane są na stronach internetowych. Jeśli w takim przypadku będziesz
        zalogowany podczas wizyty na naszej stronie internetowej w serwisie Google, Google wykorzysta Twoje dane razem z
        danymi Google Analytics w celu stworzenia i zdefiniowania list grup docelowych dla cel&oacute;w remarketingu na
        r&oacute;żnych urządzeniach. W tym celu Google łączy tymczasowo Twoje dane osobowe z danymi Google Analytics,
        aby
        utworzyć grupy docelowe.</p>
    <p>Z uwagi na to, że Google LLC posiada siedzibą w USA i wykorzystuje infrastrukturę techniczną znajdującą się w
        USA,
        przystąpił do programu EU-US-Privacy Shield w celu zapewnienia odpowiedniego poziomu ochrony danych osobowych
        wymaganego przez przepisu europejskie. W ramach umowy pomiędzy USA a Komisją Europejską ta ostatnia stwierdziła
        odpowiedni poziom ochrony danych w przypadku przedsiębiorstw posiadających certyfikat Privacy Shield.</p>
    <p>Możesz dezaktywować cookies wykorzystywane do remarketingu w ramach ustawień swojego konta Google:
        https://adssettings.google.com. Ponadto, w ramach ustawień plik&oacute;w cookies z poziomu naszej strony możesz
        wyłączyć wykorzystywanie plik&oacute;w cookies na potrzeby remarketingu.</p>
    <p>Jeżeli jesteś zainteresowany szczeg&oacute;łami związanymi z przetwarzaniem danych w ramach Google Tag Manager,
        zachęcamy do zapoznania się z polityką prywatności Google: https://policies.google.com/privacy.</p>
    <p>Facebook Pixel. Korzystamy z narzędzi marketingowych dostępnych w ramach serwisu Facebook i zapewnianych przez
        Facebook Inc., 1601 S. California Ave. Palo Alto, CA 94304, USA. W ramach tych narzędzi kierujemy do Ciebie
        reklamy
        w serwisie Facebook. Działania w tym zakresie realizujemy, opierając się na naszym prawnie uzasadnionym
        interesie w
        postaci marketingu własnych produkt&oacute;w lub usług.</p>
    <p>W celu kierowania do Ciebie reklam spersonalizowanych pod kątem Twoich zachowań w naszej witrynie,
        zaimplementowaliśmy w ramach naszych stron Pixel Facebooka, kt&oacute;ry w spos&oacute;b automatyczny gromadzi
        informacje o Twoim korzystaniu z naszej witryny w zakresie przeglądanych stron. Zgromadzone w ten spos&oacute;b
        informacje są najczęściej przekazywane do serwera Facebooka w Stanach Zjednoczonych i tam przechowywane.</p>
    <p>Informacje zbierane w ramach Pixela Facebooka są anonimowe, tj. nie pozwalają nam na Twoją identyfikację. Wiemy
        jedynie, jakie działania podjąłeś w ramach naszej strony. Informujemy Cię jednak, że Facebook może łączyć te
        informacje z innymi informacjami o Tobie zebranymi w ramach korzystania przez Ciebie z serwisu Facebook i
        wykorzystywać dla swoich własnych cel&oacute;w, w tym marketingowych. Takie działania Facebooka nie są już
        zależne
        od nas, a informacji o nich możesz szukać bezpośrednio w polityce prywatności Facebooka:
        https://www.facebook.com/privacy/explanation. Z poziomu swojego konta na Facebooku możesz r&oacute;wnież
        zarządzać
        swoimi ustawieniami prywatności.</p>
    <p>Z uwagi na to, że Facebook Inc. posiada siedzibą w USA i wykorzystuje infrastrukturę techniczną znajdującą się w
        USA,
        przystąpił do programu EU-US-Privacy Shield w celu zapewnienia odpowiedniego poziomu ochrony danych osobowych
        wymaganego przez przepisu europejskie. W ramach umowy pomiędzy USA a Komisją Europejską ta ostatnia stwierdziła
        odpowiedni poziom ochrony danych w przypadku przedsiębiorstw posiadających certyfikat Privacy Shield.</p>
    <p>W ramach ustawień plik&oacute;w cookies dostępnych z poziomu naszej strony możesz zadecydować, czy wyrażasz zgodę
        na
        korzystanie przez nas w Twoim przypadku z Pixela Facebooka, czy nie.</p>
    <p>Narzędzia społecznościowe. Na naszych stronach internetowych używane są wtyczki i inne narzędzia społecznościowe
        udostępniane przez serwisy społecznościowe, takie jak Facebook, Twitter, Instagram, Google, LinkedIN.</p>
    <p>Wyświetlając naszą stronę internetową, zawierającą taką wtyczkę, Twoja przeglądarka nawiąże bezpośrednie
        połączenie z
        serwerami administrator&oacute;w serwis&oacute;w społecznościowych (usługodawc&oacute;w). Zawartość wtyczki jest
        przekazywana przez danego usługodawcę bezpośrednio do Twojej przeglądarki i integrowana ze stroną. Dzięki tej
        integracji usługodawcy otrzymują informację, że Twoja przeglądarka wyświetliła naszą stronę, nawet jeśli nie
        posiadasz profilu u danego usługodawcy czy nie jesteś u niego akurat zalogowany. Taka informacja (wraz z Twoim
        adresem IP) jest przez Twoją przeglądarkę przesyłana bezpośrednio do serwera danego usługodawcy (niekt&oacute;re
        serwery znajdują się w USA) i tam przechowywana.</p>
    <p>Jeśli zalogowałeś się do jednego z serwis&oacute;w społecznościowych, to usługodawca ten będzie m&oacute;gł
        bezpośrednio przyporządkować wizytę na naszej stronie do Twojego profilu w danym serwisie społecznościowym.</p>
    <p>Jeśli użyjesz danej wtyczki, np. kilkając w przycisk &bdquo;Lubię to&rdquo; lub &bdquo;Udostępnij&rdquo;, to
        odpowiednia informacja zostanie r&oacute;wnież przesłana bezpośrednio na serwer danego usługodawcy i tam
        zachowana.
    </p>
    <p>Ponadto, informacje te zostaną opublikowane w danym serwisie społecznościowym i ukażą się osobom dodanym jako
        Twoje
        kontakty. Cel i zakres gromadzenia danych oraz ich dalszego przetwarzania i wykorzystania przez
        usługodawc&oacute;w,
        jak r&oacute;wnież możliwość kontaktu oraz Twoje prawa w tym zakresie i możliwość dokonania ustawień
        zapewniających
        ochronę Twojej prywatności zostały opisane w polityce prywatności poszczeg&oacute;lnych usługodawc&oacute;w.</p>
    <p>Facebook &ndash; https://www.facebook.com/legal/FB_Work_Privacy,<br>Instagram &ndash;
        https://help.instagram.com/519522125107875?helpref=page_content,<br>Twitter &ndash;
        https://twitter.com/en/privacy,<br>Google &ndash; https://policies.google.com/privacy?hl=pl,<br>LinkedIN &ndash;
        https://www.linkedin.com/legal/privacy-policy.<br>Jeśli nie chcesz, aby serwisy społecznościowe
        przyporządkowywały
        dane zebrane w trakcie odwiedzin na naszej stronie internetowej bezpośrednio Twojemu profilowi w danym serwisie,
        to
        przed wizytą na naszej stronie musisz się wylogować z tego serwisu. Możesz r&oacute;wnież całkowicie
        uniemożliwić
        załadowanie na stronie wtyczek stosując odpowiednie rozszerzenia dla Twojej przeglądarki, np. blokowanie
        skrypt&oacute;w.</p>
    <p>Wideo. Osadzamy na stronach wideo z serwisu YouTube oraz Vimeo. W tym celu wykorzystywane są pliki cookies firmy
        Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA dotyczące usługi YouTube oraz pliki cookies
        firmy Vimeo Inc. Pliki cookies ładowane są dopiero przy odtwarzaniu wideo. Jeżeli nie godzisz się na ich
        załadowanie, powstrzymaj się przed odtwarzaniem wideo</p>
    <p>Odtwarzając wideo, Google lub Vimeo otrzymują o tym informacje, nawet jeśli nie posiadasz profilu u danego
        usługodawcy czy nie jesteś u niego akurat zalogowany. Taka informacja (wraz z Twoim adresem IP) jest przez Twoją
        przeglądarkę przesyłana bezpośrednio do serwera danego usługodawcy (niekt&oacute;re serwery znajdują się w USA)
        i
        tam przechowywana.</p>
    <p>Jeśli zalogowałeś się do serwisu Google lub Vimeo, to usługodawca ten będzie m&oacute;gł bezpośrednio
        przyporządkować
        odtworzenie wideo na naszej stronie do Twojego profilu w danym serwisie społecznościowym. Cel i zakres
        gromadzenia
        danych oraz ich dalszego przetwarzania i wykorzystania przez usługodawc&oacute;w, jak r&oacute;wnież możliwość
        kontaktu oraz Twoje prawa w tym zakresie i możliwość dokonania ustawień zapewniających ochronę Twojej
        prywatności
        zostały opisane w polityce prywatności poszczeg&oacute;lnych usługodawc&oacute;w.</p>
    <p>Jeśli nie chcesz, aby Google lub Vimeo przyporządkowywały dane zebrane w trakcie odtwarzania wideo na naszej
        stronie
        internetowej bezpośrednio Twojemu profilowi w danym serwisie, to przed wizytą na naszej stronie musisz się
        wylogować
        z tego serwisu. Możesz r&oacute;wnież całkowicie uniemożliwić załadowanie na stronie wtyczek stosując
        odpowiednie
        rozszerzenia dla Twojej przeglądarki, np. blokowanie skrypt&oacute;w.</p>
    <p>Zachęcamy Cię do zapoznania się ze szczeg&oacute;łami polityki prywatności Google
        (https://policies.google.com/privacy) oraz Vimeo (https://vimeo.com/privacy).</p>
    <h2>Logi serwera</h2>
    <p>Korzystanie ze strony wiąże się z przesyłaniem zapytań do serwera, na kt&oacute;rym przechowywana jest strona.
        Każde
        zapytanie skierowane do serwera zapisywane jest w logach serwera.</p>
    <p>Logi obejmują m.in. Tw&oacute;j adres IP, datę i czas serwera, informacje o przeglądarce internetowej i systemie
        operacyjnym z jakiego korzystasz. Logi zapisywane i przechowywane są na serwerze.</p>
    <p>Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi ze strony i nie są
        wykorzystywane przez nas w celu Twojej identyfikacji.</p>
    <p>Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania stroną, a ich zawartość nie jest
        ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.</p>
</div>


{% endblock %}