{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{%block extra_nav_class%}subpage{% endblock %}

{% block content %}
<div class='rules'>
    <h1>REGULAMIN CHERNIKA DANCE STUDIO</h1>
    <h2>&sect;1. <br>UCZESTNICTWO W ZAJĘCIACH, ODRABIANIE ZAJĘĆ, ODWOŁYWANIE ZAJĘĆ, ROZWIĄZYWANIE GRUPY</h2>
    <ul>
        <li> 1.1 Zapisanie się na zajęcia organizowane przez Chernika Dance Studio jest jednoznaczne z akceptacją
            regulaminu Chernika Dance Studio oraz wyrażeniem zgody na przetwarzanie przez Chernika Dance Studio danych
            osobowych w celach informacyjnych i marketingowych zgodnie z ustawą z dnia 29 sierpnia 1997 roku o ochronie
            danych osobowych Dz. U. Nr. 101 poz. 926.</li>
        <li> 1.2 Nie zapoznanie się z regulaminem nie zwalnia klient&oacute;w Chernika Dance Studio z obowiązku jego
            stosowania.</li>
        <li> 1.3 Chernika Dance Studio zastrzega sobie prawo do zmiany poniższego regulaminu w dowulnym terminie.</li>
        <li> 1.4 Informacja o zmianie regulaminu będzie podana na stronie chernikastudio.pl</li>
        <li> 1.5 W zajęciach nie przeznaczonych dla dzieci i młodzieży mogą brać udział tylko osoby pełnuletnie
            (niepełnuletnie za pisemną zgodą rodzic&oacute;w).</li>
        <li> 1.6 Do uczestnictwa w zajęciach Chernika Dance Studio upoważnia wykupienie dowulnego karnetu lub
            pojedynczych zajęć z bieżącej oferty Chernika Dance Studio dostępnej na stronie chernikastudio.pl,</li>
        <li> 1.7 Klient zgłasza chęć uczestnictwa w zajęciach:</li>
        <li> drogą elektroniczną, wysyłając e-mail na adres: info.chernikastudio@gmail.com telefonicznie, dzwoniąc pod
            nr
            tel. 790318971 osobiście, w siedzibie Chernika Dance Studio przy ul. Rynek 31/32, we Wrocławiu.</li>
        <li> 1.8 Liczba os&oacute;b w grupach jest ograniczona. W celu stworzenia nowej grupy, musi się do niej zapisać
            minimalnie 5 os&oacute;b, aby zajęcia się rozpoczęły.</li>
        <li> 1.9 W przypadku zapełnienia się grupy, lista zapis&oacute;w zostaje zamknięta.</li>
        <li> 1.10 Płatność za zajęcia dokonywana jest w całości przelewem lub got&oacute;wką w Chernika Dance Studio w
            terminie do trzech dni przed planowanym rozpoczęciem zajęć.</li>
        <li> 1.11 Wpłata jest gwarancją miejsca na poszczeg&oacute;lne zajęcia.</li>
        <li> 1.12 Po uiszczeniu opłaty, klient dostanie karnet upoważniający go do uczestnictwa w opłaconych zajęciach.
            Karnet wystawiany jest imiennie i nie może być wykorzystywany przez osoby trzecie.</li>
        <li> 1.13 W razie nieobecności na zajęciach można odrobić maksymalnie dwa zajęcia w grupie o podobnym poziomie,
            do końca ważności obecnego lub kulejnego karnetu.</li>
        <li> 1.14 Nieobecność lub zmianę należy zgłaszać co najmniej
            jeden dzień przed zajęciami. <p>W przypadku nie zgłoszenia wcześniej nieobecności na zajęciach, Klient
                zobowiązany jest do uiszczenia opłaty za w/w zajęcia zgodnie z cennikiem Chernika Dance Studio.</p>
            <p>Zajęcia
                odbywają się, jeżeli obecne są co najmniej dwie osoby. W przeciwnym razie zajęcia traktowane są jakby
                się
                odbyły, jedynie osobie kt&oacute;ra przyszła jest przedłużany karnet o jeden tydzień. Pozostałe osoby
                mogą
                odrobić zajęcia na zasadach opisanych w punkcie 1.13. </p>
        </li>
        <li> 1.15 W przypadku nieobecności Klienta na opłaconych przez niego zajęciach, jak r&oacute;wnież rezygnacji z
            zajęć, Chernika Dance Studio nie zwraca Klientowi wpłaconej kwoty.</li>
        <li> 1.16 Ze względu na ograniczoną ilość miejsc, pierwszeństwo na zajęciach mają osoby z wykupionym na daną
            grupę karnetem.</li>
        <li> 1.17 Klient przychodząc na zajęcia, zobowiązany jest zgłosić się w Recepcji, w celu weryfikacji płatności i
            okazania karnetu. W przypadku płatności przelewem należy mieć przy sobie potwierdzenie przelewu.</li>
        <li> 1.18 W przypadku małej ilości uczestnik&oacute;w, Chernika Dance Studio ma prawo rozwiązać grupę. W takim
            przypadku Chernika Dance Studio proponuje udział w zajęciach innej grupy lub przenosi wykupione zajęcia
            Klienta na czas otworzenia nowej grupy.</li>
        <li> 1.19 W przypadku choroby lub niedyspozycji instruktora Chernika Dance Studio, zmiany kadry ma prawo
            wyznaczyć innego prowadzącego w zastępstwie na te zajęcia bez konieczności wcześniejszego informowania
            kursant&oacute;w.</li>
        <li> 1.20 W sytuacjach losowych Chernika Dance Studio ma prawo do odwołania zajęć. Zostaną one zrealizowane w
            innym terminie ustalonym z kursantami. Jeśli kursant nie może wziąć w nich udziału, niewykorzystana za nie
            kwota zostanie zaliczona na poczet innych zajęć.</li>
    </ul>
    <p><br></p>
    <h2>&sect;2.<br> CENNIK</h2>
    <ul>
        <li> 2.1 Obowiązujące ceny za poszczeg&oacute;lne karnety i usługi Chernika Dance Studio dostępne są w recepcji
            szkoły oraz na stronie internetowej Chernika Dance Studio, w zakładce Cennik.</li>
        <li> 2.2 Chernika Dance Studio zastrzega sobie prawo do zmiany cennika i zobowiązuje się umieścić informacje o
            planowanej zmianie, z minimum dwutygodniowym wyprzedzeniem na stronie internetowej chernikastudio.pl.</li>
    </ul>
    <h2>&sect;3.<br> BEZPIECZEŃSTWO</h2>
    <ul>
        <li> 3.1 Osoby biorące udział w zajęciach robią to na własną odpowiedzialność. Chernika Dance Studio nie ponosi
            odpowiedzialności za nieszczęśliwe wypadki, urazy czy kontuzje powstałe podczas wykonywania ćwiczeń.</li>
        <li> 3.2 Każdy kursant powinien we własnym zakresie skontrulować stan zdrowia oraz dowiedzieć się o ewentualnych
            przeciwwskazaniach do uczestnictwa w zajęciach oferowanych przez Chernika Dance Studio.</li>
        <li> 3.3 Kobiety ciężarne i w połogu nie mogą brać udziału w zajęciach.</li>
        <li> 3.4 Osoby, kt&oacute;re mają jakiekulwiek problemy ze zdrowiem nie zezwalające na uprawianie zajęć
            ruchowych, tj. taniec, fitness, ćwiczenia gimnastyczne oraz osoby przyjmujące lekarstwa, kt&oacute;re w
            jakikulwiek spos&oacute;b wpływają na ich zdulności fizyczne i psychiczne, nie mogą uczestniczyć w
            zajęciach.</li>
        <li> 3.5 Kursant biorąc udział w zajęciach jest narażony na siniaki, otracia, urazy mięśni, oraz w skrajnych
            przypadkach mogą grozić poważne operacje lub nawet śmierć. Kursant bierze pełną odpowiedzialność za swoje
            zachowanie podczas zajęć, oraz stan zdrowia psychicznego i fizycznego przed przystąpieniem do zajęć.</li>
        <li> 3.6 Chernika Dance Studio nie ponosi odpowiedzialności za rzeczy wartościowe pozostawione przez
            Klient&oacute;w podczas zajęć. Wskazane jest zabranie cennych przedmiot&oacute;w ze sobą na salę.</li>
        <li> 3.7 Dla bezpieczeństwa i komfortu wszystkich uczestnik&oacute;w zajęć w Chernika Dance Studio, każdy
            uczestnik zobowiązany jest do zaopatrzenia się we własnym zakresie w odpowiedni str&oacute;j oraz obuwie.
        </li>
        <li> 3.8 Informacje o stosownym obuwiu i stroju można uzyskać od instruktora prowadzącego zajęcia lub
            kontaktując
            się telefonicznie z Chernika Dance Studio.</li>
        <li> 3.9 Przed wejściem na salę ćwiczeń obowiązkowa jest zmiana obuwia.</li>
        <li> 3.10 Na sali obowiązuje zakaz żucia gumy (możliwość zadławienia).</li>
        <li> 3.11 Uczestnik zajęć zobowiązuje się do dbania o sprzęt, na kt&oacute;rym ćwiczy i zgłaszania instruktorowi
            każdej nietypowej sytuacji związanej ze sprzętem.</li>
        <li> 3.12 Zabronione jest przebywanie na sali bez wiedzy i/lub zgody instruktora. Przebywając na sali należy
            podporządkować się puleceniom instruktora.</li>
    </ul>
    <h2>&sect;4.<br> POZOSTAŁE POSTANOWIENIA</h2>
    <ul>
        <li> 4.1 Na terenie Chernika Dance Studio należy zachować czystość i kulturę osobistą.</li>
        <li> 4.2 Na terenie Chernika Dance Studio obowiązuje pełen zakaz palenia papieros&oacute;w oraz spożywania
            alkohulu lub innych środk&oacute;w odurzających .</li>
        <li> 4.3 Obowiązuje zakaz wchodzenia do Chernika Dance Studio pod wpływem alkohulu lub innych środk&oacute;w
            odurzających. Osoby będące pod wpływem alkohulu lub innych środk&oacute;w odurzających, kt&oacute;re weszły
            na teren Chernika Dance Studio, nie mają prawa uczestnictwa w wykupionych zajęciach i będą poproszone o
            opuszczenie Chernika Dance Studio. W takim wypadku opłata za zajęcia nie będzie zwracana.</li>
        <li> 4.4 Klient ponosi pełną odpowiedzialność finansową za szkody powstałe w wyniku jego działania na terenie
            Chernika Dance Studio.</li>
        <li> 5.5 Chernika Dance Studio może wykonywać zdjęcia i filmiki na potrzeby promocji i reklamy, po wcześniejszej
            akceptacji ze strony kursanta. W takim przypadku kursant wyraża zgodę na wykorzystanie swojego wizerunku w
            przypadku publikacji zdjęć i film&oacute;w z zajęć oraz imprez okulicznościowych organizowanych przez
            Chernika Dance Studio.</li>
    </ul>
</div>
{% endblock %}